@media only screen and (max-width: 1400px) {
  .firstSection .wrapper {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .features .row {
    margin: 0;
  }
  .team .box {
    width: -webkit-fill-available;
  }
}
@media only screen and (max-width: 992px) {
  .header .imgBox {
    margin-bottom: 1.5rem;
    margin-left: auto !important;
  }
  .header .menuDiv {
    justify-content: center !important;
  }
  .header li {
    display: inline-block;
    padding: 0 0.7rem;
    font-size: 0.75rem;
  }
  .firstSection,
  .firstSection .siteWrapper {
    height: fit-content !important;
  }
  .firstSection .wrapper {
    margin-bottom: 4rem;
  }
  .firstSection .wrapper {
    padding: 0 !important;
  }
  .firstSection .contentBox {
    flex-direction: column;
    align-items: center;
  }
  .firstSection .contentBox .arrowBox {
    opacity: 0;
  }
  .firstSection .contentBox .slider {
    margin-top: 3rem;
    position: unset !important;
    width: 90% !important;
  }
  .firstSection .contentBox .sliderBox {
    position: unset !important;
  }
  .whatWeDo .contentBox {
    padding: 0 2rem;
  }
  .whatWeDo .contentBox .imgBox {
    padding: 0 0.5rem;
  }
  .whatWeDo .contentBox .imgBox img {
    width: 100%;
  }
  .history .wrapper {
    flex-direction: column-reverse;
  }
  .history .text-start {
    text-align: center !important;
  }
  .history .text-start .titleHeading {
    margin: 1rem auto;
  }
  .history .text-start .p-content {
    text-align: center;
    width: fit-content;
  }
  .history .imgContainer .imgBox {
    padding: 0 !important;
  }
  .history .text-start .titleHeading {
    margin: 3rem auto;
  }
  .history .textBox .p-content {
    margin-bottom: 4rem;
  }
  .history .imgContainer {
    margin: 4rem;
  }
  .projects .title {
    margin: 2rem 0 5rem;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1000px;
  }
}
@media (max-width: 768px) {
  .firstSection .contentBox .slider {
    width: 95% !important;
  }
  .main-package.text-center.d-flex {
    flex-direction: column;
    align-items: center;
  }
  .packages .contentBox .boxStandard,
  .packages .package-item .border {
    border-style: none !important;
    height: unset;
  }
  .packages .package-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .packages .contentBox .pkg-btn {
    margin-bottom: 5rem;
  }
  .packages .contentBox .boxBasic,
  .packages .contentBox .boxPremium {
    width: 100%;
  }
  .packages .contentBox .boxStandard {
    width: 100%;
  }
  .history .margin {
    margin: 4rem 0.5rem;
  }
  .packages .contentBox {
    display: none;
  }
  .packages .contentBox2 {
    display: flex !important;
    margin: 6rem 0 3rem;
  }
  .team .titleHeading {
    height: fit-content;
  }
}
@media only screen and (max-width: 576px) {
  .header .navigation {
    display: none;
  }
  .header .navigation.active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fcfcfc;
  }
  .header .navigation.active a {
    font-size: 1.25rem;
  }
  .menu-button {
    display: inline-block;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
  }
  .menuDiv {
    display: none !important;
  }
  .siteWrapper {
    width: inherit;
  }
  .firstSection .contentBox .textBox h2 {
    font-size: 2rem;
    text-align: center;
  }
  .firstSection .contentBox .textBox p {
    font-size: 1rem;
    text-align: center;
  }
  .firstSection .contentBox .textBox .btn {
    margin: 0 5rem;
  }
  .whatWeDo .contentBox {
    flex-direction: column !important;
  }
  .whatWeDo .title {
    margin: 8rem 0 4rem;
    width: 40% !important;
  }
  .whatWeDo .contentBox {
    margin: 3rem 0;
  }
  .whatWeDo .contentBox .textBox {
    text-align: center;
  }
  .whatWeDo .contentBox .textBox h4 {
    margin-top: 1rem;
  }
  .rightArrow {
    width: calc(100% - -17rem);
  }
  .howWeWork .title {
    margin: 8rem 0 4rem;
    width: 50% !important;
  }
  .howWeWork .img {
    margin-bottom: 3rem;
  }
  .features .title {
    width: 45%;
  }
  .projects .rightArrow {
    display: none;
  }
  .projects .titleHeading {
    width: 85%;
    height: fit-content;
    text-align: center;
    margin: auto !important;
  }
}
@media only screen and (max-width: 420px) {
  .whatWeDo .title {
    width: 55% !important;
  }
  .features .title {
    width: 55%;
  }
}
@media only screen and (max-width: 360px) {
  .header .imgBox {
    margin: 0;
  }
  .header .imgBox {
    width: 12rem;
  }
  .menu-button span {
    position: relative;
    top: 5px;
  }
  .rightArrow {
    display: none;
  }
  .title-responsive {
    width: 57% !important;
  }
  .leftArrow {
    display: none;
  }
}
@media only screen and (max-width: 340px) {
  .features .title {
    width: 60%;
  }
}
